div{
    background-image: linear-gradient(135deg, #475761 10%, #2e5379 100%);
    text-align: center;
}

/* etiqueta nombre*/
#name{
    font-weight: bold;
    margin-top: 20%;
}

/*foto de perfil*/

@media screen and (max-width: 575px){
    #profilePic{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px #0b151f ;
        left: 35%;
    }
}


#profilePic{
    margin-top: -27%;    
    position:absolute;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #0b151f;
}


.nameConfig {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    text-shadow: #0b151f;
}
.row {
    padding: 2rem 5rem;
}
p {
    text-align: justify;
    color: #fff;
}
h2 {
    color: rgb(128, 172, 238);
}
h3 {
    color: #fff
    
}