<div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLUIXBNlm11QwvSOo6r4_nb_sdmH5QWtqGdPcESDocPeLEtGl8uSRR6HVUc_jA02qLgwH9ckUENjTpFP-R0U9sEqMf3vE4zYjvsTETVyEnvL9AMGOJ8ByUqxWLnKBe9I0FCHEm-QWjbl73JRvIgcpM6IHA=s843-no?authuser=0" 
        alt="profile pic" 
        class="img-fluid"
        id="profilePic"
        width="20%">
    </div>
</div>
<div class="row nameConfig">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txtName">
        <h2 id="name"><b>Germán Emanuel Rico</b></h2>
        <h3> Arquitecto Urbanista</h3>
        <h3> Full Stack Developer Jr</h3>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="aboutMe">
        <h2><b>Acerca de mí</b></h2>
        <p>Arquitecto con orientación en urbanismo. Me motiva el progreso y la capacitación constante. Me gusta aportar mis conocimientos para encontrar resoluciones concretas a problemas reales. La iniciativa e innovación siempre han formado parte de mi carrera profesional, por lo que, he desarrollado una metodología de trabajo basada en la comunicación, pensamiento critico y el trabajo en equipo. Considero ésto de gran valor, para adaptarme a las necesidades que las empresas modernas necesitan dadas las dinámicas cambiantes de los tiempos actuales</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vero laborum, tenetur dolorem labore delectus. Similique earum distinctio, optio quas assumenda illum amet dolore quisquam eius corporis tempora neque aperiam.</p>
    </div>
</div>
