<!--Carrousel con bootstrap -->
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 offset-md-1 offset-lg-1">
    <h1>Proyectos de Arquitectura</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUuFkOLdaRDcjL2kTyT0oESy7XPkGNami19mkDsUyqDAnJ1DeNnh9aeuaB7B7SRQvxHeXXt4L7p019vVxSCS31xk9N6JZnhUIsTHN_vZIw8Bnv_yS1pjjNJkmYTAErcj-CIZT-6P8xNr78z1LbQw9-QsA=w1242-h931-no?authuser=0" 
                 class="d-block w-100" 
                 alt="Ampliación DL">
            <div class="carousel-caption d-none d-md-block">
                <h5>Ampliación DL</h5>
                <p>Vivienda unifamiliar, construcción tradicional. 
                  <br>Salsipuedes - Cordoba - 2022</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLW0kid-pZylkojOz7aQuvdaLUBJt8KPCZXDtKFhLdL4mi1LrGUo9UMw5xI8B89AlhP2ojwLt9OErNd1tiL2J7uFEmCWUnNrqGavzqLqxjbC1NRwf6zp50F2tUhCeBxPpjtB_m6rj9OHsphg_cfYoALkNA=w1288-h966-no?authuser=0" 
            class="d-block w-100" 
            alt="Casa ME">
            <div class="carousel-caption d-none d-md-block">
                <h5>Casa ME</h5>
                <p>Vivienda unifamiliar, construcción en Steel Frame. 
                <br>Salsipuedes - Cordoba - 2021</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWOtlREArDHdDwtQXPFwdEafrbv6lK3NILgjYFqFlTKxfb5NOOaVJXE-gXaX61cLG4w_3F1V9PQQPL767uloKBhs1XxuirpKI_VTsBJxdWgRNRAplFEUQ2hKtIyfyYOdaafDpl_Kcy4v_Bx5hGfWfJk6w=w1288-h966-no?authuser=0" 
            class="d-block w-100" 
            alt="Casa AT">
            <div class="carousel-caption d-none d-md-block">
              <h5>Casa AT</h5>
              <p>Vivienda unifamiliar, construcción tradicional. 
                <br>Salsipuedes - Cordoba - 2018</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>