.container-bar{
    background-color: #0d315a;
    width: 100%;
}
#APLogo {
    width: 150px;
    margin-left: 25px;
}
.menu {
    display: none;

}

#imgSM {
    width: 35px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.div a {
    color: white;
    text-decoration: none;
}

.header{
 padding: 0;
 position: fixed;   
 left: 0;
 top: 0;
 width: 100%;
 z-index: 2;
}
.header a {
    color: white;
    text-decoration: none;
}
.navigation {
    margin: 0;
    margin-right: 25px;
    padding: 0;
    list-style: none;
}
.navigation ul {
    margin: 0;
    margin-right: 25px;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 0.5rem;
    transition: all 0.7s linear;
    border-radius: 25%;
}

.navigation ul li a:hover {
    background: #1961b36a;
    padding: 0,5rem 1rem ;
}

@media only screen and (max-width: 650px){

    .menu {
        margin-right: 25px;
        display: block;
        cursor:pointer;
        color:white;
        margin-right: 50px;
    }
    .navigation {
        width: 100%;
        padding-bottom: 15px;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.active {
        display: block;
    }
    .navigation ul li {
        display: block;
    
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.75rem 2.5rem;
        transition: all 0.7s linear;
        border-radius: 25%;
    }
    
    .navigation ul li a:hover {
        background: #1961b36a;
        padding: 0,5rem 1rem ;
    }
}