<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(30, 67, 168);">
    <a class="navbar-brand" 
       href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" 
       target="_blank" 
       rel="noopener noreferrer">
        <img src="../../../assets/APLogo.png"  
             alt="Argentina Programa"
             width="130em"
        ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="width: 1.75rem;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" 
               href="https://www.linkedin.com/in/arqgermánrico" 
               target="_blank" 
               rel="noopener noreferrer">
                <h3><i class="bi bi-linkedin" alt="LinkedIn"></i></h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
               href="https://instagram.com/germanico_83"
               target="_blank" 
               rel="noopener noreferrer">
            <h3><i class="bi bi-instagram" alt="Instagram"></i></h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
               href="https://twitter.com/ArqGermanRico"
               target="_blank" 
               rel="noopener noreferrer">
            <h3><i class="bi bi-twitter" alt="Twitter"></i></h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <h3><i class="bi bi-pencil-square" alt="Editar"></i></h3>
            </a>
        </li>
      </ul>
    </div>
  </nav>