.navbar-brand{
    margin-left: 1rem;
}
.navbar-toggler {
    margin-right: 1.5rem;
}
.navbar-nav{
    margin-right: 2rem;
}

h3{
    color: #fff;
    text-align: left;
    margin-left: 3rem;
    
}

h3:hover {
    text-shadow: 0 0 10px rgb(62, 221, 208);   
}

.nav-item{
align-items: center;
}