<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../../scripts.js"></script>
<div class="row header">
    <div class="container logo-nav-container container-bar">
        <div class="logo ">
            <a 
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" 
            target="_blank" 
            rel="noopener noreferrer"
            ><img 
            src="../../../assets/APLogo.png" 
            id="APLogo"></a>
        </div>

        <div class="redes container-list">
            <nav class="navigation">
                <span class="menu-icon">
                    <button type="button" class="btn btn-light"><i class="bi bi-list"></i></button>
                </span>
                <ul>
                    <li><a 
                            href="https://www.linkedin.com/in/arqgermánrico" 
                            target="_blank" 
                            rel="noopener noreferrer"
                        ><img 
                            id="imgSM" 
                            src="../../../assets/linkedin.png"
                        ></a>
                    </li>
                    <li><a 
                        href="https://instagram.com/germanico_83" 
                        target="_blank" 
                        rel="noopener noreferrer"
                        ><img 
                        id="imgSM" 
                        src="../../../assets/instagram.png"
                        ></a>
                    </li>
                    <li><a 
                        href="https://twitter.com/ArqGermanRico" 
                        target="_blank" 
                        rel="noopener noreferrer"
                        ><img 
                        id="imgSM" 
                        src="../../../assets/twitter.png"
                        ></a>                       
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-light">Ingreso</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>   
</div>
