<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>DESARROLLADOR FULL STACK jr</h2> - <h3>2022</h3>
                <h4>Argentina Programa - Ministerio de Desarrollo Productivo</h4>
            </li>
            <li>
                <p>Estudios en curso.</p>
            </li>
            <li>
                <h2>MAESTRÍA EN URBANISMO</h2> - <h3>2019</h3>
                <h4>UNC - Facultad de arquitectura y diseño industria</h4>
            </li>
            <li>
                <p>Primer año cursado completo.</p>
            </li>
            <li>
                <h2>ARQUITECTO</h2> - <h3>2016</h3>
                <h4>UNC - Facultad de arquitectura y diseño industrial</h4>
            </li>
            <li>
                <p>Estudios finalizados.</p>
            </li>  
            <li>
                <h2>TÉCNICO EN ARMADO Y REPARACIÓN DE PC</h2> - <h3>2003</h3>
                <h4>Instituto F.U.C.E. - Córdoba</h4>
            </li>
            <li>
                <p>Estudios finalizados.</p>
            </li>
            <li>
                <h2>BACHILLER EN ECONOMÍA Y GESTIÓN DE LAS ORGANIZACIONES</h2> - <h3>2001</h3>
                <h4>Instituto privado diocesano Dr. Alexis Carrel - Río Tercero</h4>
            </li>
            <li>
                <p>Estudios finalizados.</p>
            </li>      
        </ul>
    </div>   
</div>