body {
    background-image: linear-gradient(135deg, #475761 10%, #2e5379 100%);
    font-family: georgia, helvetica, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
p {
    margin-bottom: 1.6em;
}

